.advantages {
  background-color: $color-bg-main;
  padding-bottom: 60px;
  padding-top: 43px;

  @include tablet {
    padding-bottom: 202px;
    padding-top: 50px;
  }

  @include desctop {
    padding-bottom: 179px;
    padding-top: 60px;
  }
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  @include tablet {
    gap: 80px;
  }
  @include desctop {
    gap: 32px;
  }
}

.advantage__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    width: calc((100% - 160px) / 3);
  }

  @include desctop {
    width: calc((100% - 64px) / 3);
  }
}

.advantage__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantage__title {
  margin-bottom: 18px;
  color: $color-text-light;
  font-family: 'Roboto';

  @include font(700, 36px, 1.17, null);
  @include tablet {
    @include font(700, 48px, 1.21, null);
    margin-bottom: 16px;
  }
  @include desctop {
    @include font(700, 58px, 1.21, null);
    margin-bottom: 16px;
  }
}
.advantage__text {
  text-align: center;
  width: 230px;
  height: 40px;
  color: $color-text-light;
  @include font(700, 12px, 1.7, null);
  @include tablet {
    @include font(400, 14px, 1.7, null);
    width: 152px;
    height: 99px;
  }
  @include desctop {
    @include font(400, 16px, 1.76, null);
    width: 368px;
    height: 52px;
  }
}

.advantage__item:first-child::before {
  position: relative;
  margin-bottom: 16px;
  @include tablet {
    margin-bottom: 32px;
  }
  @include desctop {
    margin-bottom: 40px;
  }
  content: '';
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $color-icon-yellow;
  background-image: url(../images/cow.png);
  background-size: contain;
  @include retina {
    background-image: url(../images/cow-2x.png);
  }
}
.advantage__item:nth-child(2)::before {
  position: relative;
  margin-bottom: 16px;
  @include tablet {
    margin-bottom: 32px;
  }
  @include desctop {
    margin-bottom: 40px;
  }
  content: '';
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $color-icon-yellow;
  background-image: url(../images/weight.png);
  background-size: contain;
  @include retina {
    background-image: url(../images/weight-2x.png);
  }
}
.advantage__item:last-child::before {
  position: relative;
  margin-bottom: 16px;
  @include tablet {
    margin-bottom: 32px;
  }
  @include desctop {
    margin-bottom: 40px;
  }
  content: '';
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $color-icon-yellow;
  background-image: url(../images/icecrema.png);
  background-size: contain;
  @include retina {
    background-image: url(../images/icecrema-2x.png);
  }
}
