body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: $color-text-dark;
  background: $color-bg-main;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include mobile {
    .container {
      width: 480px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @include tablet {
    .container {
      width: 768px;
      padding-left: 31px;
      padding-right: 31px;
    }
  }

  @include desctop {
    .container {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  letter-spacing: inherit;
  text-align: center;
  color: $color-text-dark;
  background-color: $color-btn-active;

  border: 1px solid transparent;
  border-radius: 10px;
}
