.footer {
  background-color: $color-bg-main;
  padding-bottom: 60px;
  @include tablet {
    padding-bottom: 12px;
  }
}

.footer__wrap {
  margin-bottom: 40px;

  @include tablet {
    display: flex;
    margin-bottom: 32px;
  }
  @include desctop {
    margin-bottom: 55px;
  }
}

.footer__title-wrap {
  @media screen and (max-width: 767px) {
    width: 240px;
    margin-bottom: 42px;
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: end;

    width: 352px;
  }
  @include desctop {
    width: 505px;
  }
}

.footer__title {
  margin-bottom: 16px;
  text-transform: uppercase;
  color: $color-text-light;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;

  @include tablet {
    font-size: 26px;
    line-height: 1.15;
  }

  @include desctop {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.14;
  }
}

.footer__after-title {
  color: $color-text-light;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.21;

  @include mobile {
    letter-spacing: 0.04em;
  }

  @include tablet {
    font-size: 48px;
    letter-spacing: 0.06em;
  }

  @include desctop {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}

.footer__social-contacts {
  @include tablet {
    flex-grow: 1;
    padding-top: 68px;
  }
  @include desctop {
    padding-top: 12px;
  }
}

.footer__socials-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  gap: 30px;
}

.social__link {
  color: $color-bg-main;
  background-color: $color-icon-yellow;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  transition: color $transition-duration $transition-function,
    transform $transition-duration $transition-function;

  &:hover {
    color: $color-icon-light;
  }

  &:focus {
    color: $color-icon-light;
    transform: scale(1.2);
  }
}

.social__icon {
  fill: currentColor;
}

.footer__contacts {
  display: flex;
}

.footer__contacts-text {
  font-weight: 700;
  line-height: 186%;
  color: $color-text-dark;

  margin-left: auto;
  margin-right: 5px;

  @media (max-width: 767px) {
    font-size: 12px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include desctop {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer__contacts-tel {
  font-weight: 700;
  line-height: 186%;
  color: $color-text-light;

  transition: color $transition-duration $transition-function;

  @media (max-width: 767px) {
    font-size: 12px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include desctop {
    font-size: 16px;
    letter-spacing: 0.02em;

    &:hover {
      color: $color-link-hover;
    }
    &:disabled {
      color: $color-link-disabled;
    }
  }
}

.footer__bottom {
  display: block;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  padding-top: 16px;

  @include tablet {
    display: flex;
    justify-content: center;
    padding-top: 12px;
  }
}

.footer__bottom-copyright {
  font-weight: 700;
  font-size: 14px;
  color: $color-text-brown;

  @media (max-width: 767px) {
    margin-right: 5px;
    line-height: 152%;
  }

  @include tablet {
    line-height: 186%;
    letter-spacing: 0.02em;
  }
}

.footer__bottom-reserved {
  font-weight: 700;
  font-size: 14px;
  color: $color-text-brown;

  @media (max-width: 767px) {
    line-height: 152%;
  }
  @include tablet {
    line-height: 186%;
    letter-spacing: 0.02em;
  }
}
