/**
  |============================
  | header
  |============================
*/

.page-header {
  position: fixed;
  width: 100%;
  z-index: 4;
  background-color: transparent;

  @media screen and (max-width: 767px) {
    background-color: rgba(132, 161, 120, 0.9);
    height: 60px;
  }
}

.header__container {
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
    align-items: baseline;
    padding-top: 12px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 22px;
    justify-content: flex-end;
  }
  @media screen and (min-width: 1200px) {
    align-items: center;
    padding-top: 13px;
    justify-content: space-between;
  }
}

/**
  |============================
  | Logo
  |============================
*/

.logo {
  display: inline-block;
  z-index: 10;

  transition: transform 500ms $transition-duration;

  @media screen and (max-width: 767px) {
    margin-bottom: 61px;
    &.indent {
      transform: translate(10px);
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    // width: 65px;
  }
}

.logo__img {
  @media screen and (max-width: 767px) {
    width: 40px;
    height: 37px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 48px;
    height: 44px;
  }
  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
  }
}

/**
  |============================
  | menu
  |============================
*/

.header__menu-container {
  @media screen and (max-width: 1199px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 5;
    background-color: $color-bg-menu-green;
    text-align: center;
    opacity: 0;

    transform: translateX(100%);

    transition: transform 300ms $transition-function,
      background-color 300ms $transition-function,
      opacity 300ms $transition-function;

    @media screen and (max-width: 1199px) {
      background-color: bgd(menu-green);
    }
    @media screen and (min-width: 1200px) {
      margin-left: auto;
      margin-right: auto;
      width: 500px;
    }
  }

  &.is-open {
    transform: translateX(0);
    opacity: 1;

    @media screen and (max-width: 767px) {
      padding-top: 100px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-top: 140px;
    }
  }
}

/**
  |============================
  | navigation
  |============================
*/

.site-nav {
  @media screen and (max-width: 767px) and (max-width: 1199px) {
    margin-bottom: 110px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 27px;
  }
}

.site-nav__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 40px;
    }
  }
}

.site-nav__link {
  font-weight: 700;
  color: $color-text-light;

  @media screen and (max-width: 767px) {
    font-size: 32px;
    line-height: 1.218;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 48px;
    line-height: 1.22;
  }

  transition: color $animation;

  @media screen and (max-width: 1199px) {
    &:hover {
      color: $color-text-dark;
    }
  }
  @media screen and (min-width: 1200px) {
    &:hover {
      color: $color-accent;
    }
  }
}

/**
  |============================
  | btn
  |============================
*/

.header__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 34px;
  height: 42px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  background-color: $color-accent;
  color: $color-text-dark;

  border: none;
  border-radius: 10px;
  cursor: pointer;

  transition: color $animation, background-color $animation;

  &:hover {
    background-color: $color-btn-hover-focus;
  }
  &:focus {
    background-color: $color-btn-hover-focus;
    color: $color-text-light;
  }

  &--center {
    @media screen and (max-width: 767px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &--desktop {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .btn-menu.is-open + & {
        display: none;
      }
    }
  }

  &--mobail {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 32px;
  }
  @media screen and (min-width: 1200px) {
    order: 1;
  }
}

.header__btn-icon {
  margin-left: 8px;

  fill: transparent;
  stroke: currentColor;
}

/**
  |============================
  |  btn menu
  |============================
*/

.btn-menu {
  border: none;
  z-index: 10;
  height: 50px;

  background-color: transparent;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header__icon-set {
  transform-style: preserve-3d;

  transition: transform 300ms $transition-function;
  .btn-menu.is-open & {
    transform: rotateY(-180deg);
    position: relative;
    right: 0;
  }
}

.header__icon-close {
  display: none;

  .btn-menu.is-open & {
    display: block;
    fill: $color-bg-light;
  }
}

.header__icon-menu {
  stroke: $color-bg-light;
  transform: rotateY(0deg);
  .btn-menu.is-open & {
    display: none;
  }
}
