// BACKDROP

.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  overflow-y: scroll;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 500ms ease, visibility 500ms ease;
  &--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  &--is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }
}

// MODAL-HERO

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px;
  width: 280px;
  background-color: $color-text-light;
  border-radius: 10px;
  border: 2px solid $color-accent;
}
.modal-title {
  margin-bottom: 84px;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $color-text-dark;
  text-align: center;
}
.modal-btn-close {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  background-color: transparent;
  border: none;
  top: 8px;
  right: 8px;
  &:hover,
  &:focus {
    fill: $color-btn-hover-focus;
  }
}
.form-hero-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 86px;
  margin-bottom: 25px;
}
.form-hero-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 132px;
  height: 136px;
  border-radius: 16px;
  padding-bottom: 20px;
}
.item-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.item-one {
  border: 2px solid $color-bg-light-green;
}
.item-one::before {
  content: ' ';
  position: absolute;
  top: -66px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  background-image: url(../images/modals/modal-hero-img1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.item-two {
  border: 2px solid $color-bg-light-yellow;
  background-color: $color-bg-light-yellow;
}
.item-two::before {
  content: ' ';
  position: absolute;
  top: -66px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  background-image: url(../images/modals/modal-hero-img2.png);
}
.item-three {
  border: 2px solid $color-bg-light-orange;
}
.item-three::before {
  content: ' ';
  position: absolute;
  top: -66px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  background-image: url(../images/modals/modal-hero-img3.png);
}
.form-hero-fild {
  display: block;
  color: inherit;
}
.fild-input {
  background-color: rgba(248, 210, 78, 0.1);
  padding: 8px 12px 7px 12px;
  width: 100%;
  border: 1px solid $color-bg-main;
  border-radius: 10px;
  margin-bottom: 12px;
}
.fild-input::placeholder {
  color: inherit;
  font-size: 12px;
  line-height: 1.4;
}
.fild-text {
  resize: none;
  background-color: rgba(248, 210, 78, 0.1);
  padding: 8px 12px 7px 12px;
  width: 100%;
  height: 65px;
  border: 1px solid $color-bg-main;
  border-radius: 10px;
  margin-bottom: 24px;
}
.fild-text::placeholder {
  color: inherit;
  font-size: 12px;
  line-height: 1.4;
}
.form-hero-submit {
  margin: 0 auto;
  padding: 12px 34px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  &:hover {
    background-color: $color-btn-hover-focus;
  }
  &:focus {
    color: $color-text-light;
  }
  &:disabled {
    background-color: $color-link-disabled;
  }
}

// MODAL ABOUT

.modal-title {
  margin-bottom: 20px;
}
.video {
  margin-bottom: 20px;
}
.video-item {
  width: 100%;
}
.modal-about-text {
  font-size: 14px;
  line-height: 1.4;
}

// MODAL LOCACIONS

.modals-thumb {
  border-radius: 10px;
  margin-bottom: 24px;
  overflow: hidden;
}
.modal-locatios-link {
  display: block;
  margin: 0 auto;
  padding-top: 12px;
  width: 134px;
  height: 42px;
  background-color: $color-btn-active;
  border: 1px solid transparent;
  border-radius: 10px;
  color: inherit;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  &:hover {
    background-color: $color-btn-hover-focus;
  }
  &:focus {
    color: $color-text-light;
  }
  &:disabled {
    background-color: $color-link-disabled;
  }
}

// MODAL FRANCHISE

.modal-franchse-text {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 24px;
}

// MODAL PRODUCTS ICECRAEM

.modal-product-icecream {
  padding: 28px 20px 32px 20px;
}
.modal-product-title {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 142px;
}
.thumd-icecream {
  position: relative;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 131px;
  height: 131px;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  overflow: hidden;
}
.icecream-img {
  position: absolute;
  top: -7px;
  width: 100%;
}
.modal-products-list {
  margin-bottom: 39px;
  display: flex;
  justify-content: center;
  gap: 9px;
}
.thumd-products-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products-item-num {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 43px;
  height: 43px;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  background-color: #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
}
.products-item-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
}
.modal-products-pretitle {
  margin-bottom: 24px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}
.products-ingred-list {
  margin-bottom: 48px;
}
.products-ingred-item {
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 11px;
  }
}
.products-ingred-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
}
.form-products-fild {
  display: block;
  color: inherit;
}
.products-fild-input {
  background-color: rgba(248, 210, 78, 0.1);
  padding: 11px;
  width: 100%;
  border: 1px solid $color-bg-main;
  border-radius: 10px;
  margin-bottom: 16px;
}
.products-fild-input::placeholder {
  color: inherit;
  font-size: 12px;
  line-height: 1.4;
}
.products-fild-text {
  resize: none;
  background-color: rgba(248, 210, 78, 0.1);
  padding: 11px;
  width: 100%;
  height: 84px;
  border: 1px solid $color-bg-main;
  border-radius: 10px;
  margin-bottom: 32px;
}
.products-fild-text::placeholder {
  color: inherit;
  font-size: 12px;
  line-height: 1.4;
}
