$color-text-light: #fcfcfc;
$color-text-dark: #131313;
$color-text-gray: #ababab;
$color-text-orange: #d6936d;
$color-text-brown: #7a7a7a;

$color-accent: #f8d24e;

$color-bg-main: #84a178;
$color-bg-light: #ffffff;
$color-bg-light-green: #aec6a5;
$color-bg-light-yellow: #efd478;
$color-bg-light-orange: #d6936d;
$color-bg-menu-green: #85a279;

$color-backdrop: rgba(0, 0, 0, 0.2);

$color-icon-light: #fcfcfc;
$color-icon-dark: #131313;
$color-icon-yellow: #f8d24e;
$color-icon-bg: #fcfcfc;

$color-btn-active: #f8d24e;
$color-btn-hover-focus: #0a8817;
$color-btn-disabled: #ababab;

$color-link-default: #f8d24e;
$color-link-hover: #0a8817;
$color-link-focus: #fcfcfc;
$color-link-disabled: #ababab;

$color-inputs-bg: rgba(248, 210, 78, 0.1);

$transition-duration: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
