<section class="section_about">
    <div class="container">
        <p class="about_name">tradition and love</p>
        <h2 class="about_general">how it’s made?</h2>
        <div class="about_content">
            <div class="about_content__picture">
                <div class="about_circle"></div>


                <picture>
                    <source srcset="./images/about_cow_x1_mobile.jpg 1x,
                                 ./images/about_cow_x2_mobile.jpg 2x" media="(min-widht:320px)">
                
                    <source srcset="./images/about_cow_x1_table.jpg 1x,
                                    ./images/about_cow_x2_table.jpg 2x" media="(min-widht:768px)">
                
                    <source srcset="./images/about_cow_x1_desktop.jpg 1x,
                                    ./images/about_cow_x2_desktop.jpg 2x" media="min-widht:1200px">
                
                    <img src="./images/about_cow_x1_desktop.jpg" width="490" alt="cow" class="about_imege">
                
                </picture>

                
            </div>
            <div class="about_content__general">
                <ul class="about_content__text">
                    <li class="text_about__one">
                        <p>Ice is a place where you will become not only a little happier, but also healthier.
                        Health is
                        the main value for us, and</p> 
                        we follow it when creating our handmade desserts.</li>
                    <li class="text_about__two">
                        <p>We use traditional recipes and 100% natural ingredients. Our products are so natural
                        that they can be given to
                        children
                        from the age of three years.
                        Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
                    </li>
                    <li class="text_about__three">
                        <p>This is enough to choose ice cream and coffee for any mood!</p>
                    </li>
                </ul>
                <button class="about_button">Read more <samp><svg class="read-more-icon" width="15" height="15">
                    <use href="./images/icons.svg#about-read-more"></use>
                </svg></samp></button>
            </div>
           
        </div>
        
    
        
    <!-- </ul> 
    <ul class="grid">
        <li class="grid__item">
            <div class="grid__icon">
                <svg class="we-icon" width="36" height="36">
                 <use href="./images/icons.svg#icon-cow"></use>
            </svg>
            </div>
            <h3 class="grid__title">721</h3>
            <p class="grid__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li class="grid__item">
            <div class="grid__icon">
                <svg class="we-icon" width="36" height="36">
                    <use href="./images/icons.svg#icon-weight"></use>
                </svg>
            </div>
            <h3 class="grid__title">16 kg</h3>
            <p class="grid__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li class="grid__item">
            <div class="grid__icon">
                <svg class="we-icon" width="36" height="36">
                 <use href="./images/icons.svg#icon-ice-crema"></use>
                </svg>
            </div>
            <h3 class="grid__title">84</h3>
            <p class="grid__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
    </ul> -->
</div>
</section>

