<section class="section section__other--background">
  <div class="container advantage">
    <h2 class="visually__hidden">Best Ice Cream</h2>
    <ul class="advantage__list list">
      <li class="advantage__item">        
        <p class="advantage__main">721</p>
        <p class="advantage__text" >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantage__item">        
        <p class="advantage__main">16KG</p>
        <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantage__item">        
        <p class="advantage__main">84</p>
        <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
