<section class="section">
  <div class="advantage">
    <h2 class="section__title">Ice Cream Advantages</h2>
    <ul class="advantage__list">
      <li class="advantage__item">
        <svg class="advantage__icon" width="36" height="36">
          <use href="./images/icons.svg#icon-cow"></use>
        </svg>
        <p>721</p>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantage__item">
        <svg class="advantage__icon" width="36" height="36">
          <use href="./images/icons.svg#icon-weight"></use>
        </svg>
        <p>16KG</p>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantage__item">
        <svg class="advantage__icon" width="36" height="36">
          <use href="./images/icons.svg#icon-icecrema"></use>
        </svg>
        <p>84</p>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
