<section class="section">
  <div class="advantage">
    <h2 class="section__title">Best Ice Cream</h2>
    <ul class="advantage__list">
      <li class="advantage__item">
        
        <p>721</p>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantage__item">
        
        <p>16KG</p>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantage__item">
        
        <p>84</p>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
