<section class="cust-rews">
    <div class="container">
        <h2 class="visually-hidden">Customer reviews</h2>
        <div class="rews-pick-box">
            <picture>
                <source srcset="
                ./images/unsplash-min.jpg 1x,
                ./images/unsplash@2x-dek-min.jpg 2x" media="(min-width:1200px)">
                <source srcset="
                ./images/unsplash-tab-min.jpg 1x,
                 ./images/unsplash@2x-tab-min.jpg 2x" media="(min-width:768px)">
                <source srcset="
                ./images/unsplash-mob-min.jpg 1x, 
                ./images/unsplash@2x-mob-min.jpg 2x" media="(min-width:320px)">
                <img class="cust-rews__unsplashk" src="./images/unsplash-min.jpg" alt="" width="1014">
            </picture>
        </div>
        <img src="./images/girl.png" alt="" class="cust-rews__girl">
        <div class="cust-box">
            <p class="cust__text">I love visiting your cafe. You prepare the most delicious ice cream in Los
                Angeles! In addition,
                you
                have
                beautiful
                serving, cozy atmosphere and polite staff.
            </p>
        </div>

        <p class="cust_place">Emily, Los Angeles</p>
        <ul class="dots">
            <li>
                <button aria-label="first comment" type="button" class="sing-dot"></button>
            </li>
            <li>
                <button aria-label="sec comment" type="button" class="sing-dot"></button>
            </li>
            <li>
                <button aria-label="trird comment" type="button" class="sing-dot"></button>
            </li>
            <li>
                <button aria-label="four comment" type="button" class="sing-dot"></button>
            </li>
        </ul>
    </div>
</section>