<section class="hero">
    <div class="container hero__container">
        <div class="hero-box">
            <h1 class="hero__title">ice cream made with <span class="hero__title--fs">passion</span></h1>

            <ul class="hero__list">
                <li class="hero__list--item">
                    <span class="hero-item__num">16</span>
                    <span class="hero-item__text">cafes</span>
                </li>
                <li class="hero__list--item">
                    <span class="hero-item__num">23</span>
                    <span class="hero-item__text">food trucks</span>
                </li>
            </ul>
        </div>
        <div class="hero-btn">
            <a class="btn-border btn-border__link" type="button" href="#products">Products</a>
            <a class="btn-transtarent btn-transtarent__link" type="button" href="#How-made">How it’s made?</a>
        </div>
        <div class="hero__helper-box">
            <picture>
                <source srcset="./images/big-ice-dek.png 1x" media="(min-width:1200px)">
                <img class="hero-dig-ice" src="./images/big-ice.png" alt="123123" width="255">
            </picture>
            <div class="hero-box-text">
                <p class="hero__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et
                </p>
                <button class="arrow-btn " type="button">
                    <svg class="long-arrow" width="40" height="15">
                        <use href="./images/icons.svg#icon-long-arrow">

                        </use>
                    </svg>
                </button>

            </div>
        </div>

        <div class="hero-pick-box">
            <picture">

                <source srcset="
                ./images/ice-dek.png 1x, 
                ./images/ice-dek@2x.png 2x" media="(min-width:1200px)">
                <source srcset="
                ./images/ice-tab.png 1x, 
                ./images/ice-tab@2x.png 2x" media="(min-width:768px)">
                <source srcset="   
                ./images/ice-mob.png 1x,
                ./images/ice-mob@2x.png 2x" media="(min-width:320px)">
                <img class="hero-ice" src="./images/ice-dek.png" width="484" alt="ice-cream">
                </picture>
        </div>
    </div>

</section>