<div class="backdrop backdrop--is-hidden">
  <div class="modal-hero">
    <h2 class="modal-title">Buy now</h2>
    <button type="button" class="modal-btn-close">
      <svg class="modal-icon-close" width="20" height="20">
        <use href="./images/icons.svg#icon-menu-close"></use>
      </svg>
    </button>
    <form class="form-hero">
      <ul class="form-hero-list list">
        <li class="form-hero-item"><div class="li-one"></div></li>
        <li class="form-hero-item"><div class="li-one"></div></li>
        <li class="form-hero-item"><div class="li-one"></div></li>
      </ul>
      <label class="form-hero-fild">
        <input
          class="fild-input"
          type="text"
          name="name"
          placeholder=" "
          required
        />
        <span class="fild-name">Name</span>
      </label>
      <label class="form-hero-fild">
        <input
          class="fild-input"
          type="tel"
          name="tel"
          placeholder=" "
          required
        />
        <span class="fild-name">Phone</span>
      </label>
      <label class="form-hero-fild">
        <textarea
          class="fild-text"
          type="text"
          name="text"
          placeholder=" "
        ></textarea>
        <span class="fild-name">Comment</span>
      </label>
    </form>
  </div>
</div>
<div class="backdrop backdrop--is-hidden">
  <div class="modal-products"></div>
</div>
<div class="backdrop backdrop--is-hidden">
  <div class="modal-about"></div>
</div>
<div class="backdrop backdrop--is-hidden">
  <div class="modal-franchise"></div>
</div>
