<section class="section">
    <div class="container">
        <div>
            <p class="ice">
                <label for="">100% natural</label>
            </p>
        </div>

        <h2 class="about">products</h2>
        <ul class="ice-card">
            <li class="cards box1">
                <img src="./img/Frame65.png" class="img-ice" alt="картинка">
                <div class="name-ice-name">
                    <h3 class="ice-name">ICE CREAM</h3>
                    <p class="name">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                        natural stabilizer</p>

                    <button type="button" class="btn">
                        <svg class="arrow" width="55px" height="15px">
                            <use href="./img/icons.svg#icon-Frame-54"></use>
                        </svg>
                    </button>
                </div>
            </li>

            <li class="cards box2">
                <img src="./img/Frame66.png" class="img-ice" alt="картинка">
                <div class="name-ice-name">
                    <h3 class="ice-name">ICE COFfEE</h3>
                    <p class="name">Fragrant invigorating drink created from 100% natural ingredients without the use of
                        preservatives and flavor enhancers</p>

                    <button type="button" class="btn">
                        <svg class="arrow" width="55px" height="15px">
                            <use href="./img/icons.svg#icon-Frame-54"></use>
                        </svg>
                    </button>
                </div>
            </li>

            <li class="cards box3">
                <img src="./img/Frame67.png" class="img-ice" alt="картинка">
                <div class="name-ice-name">
                    <h3 class="ice-name">MILKFAKES</h3>
                    <p class="name">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries
                        and other sweets of your choice</p>

                    <button type="button" class="btn">
                        <svg class="arrow" width="55px" height="15px">
                            <use href="./img/icons.svg#icon-Frame-54"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>