<section class="products" id="products">
  <div class="container">
    <p class="products__pre-title">100% natural</p>
    <h2 class="products__title">Products</h2>
    <ul class="products__list">
      <li class="products__cards products__box-green">
        <div class="products__ice-name">
          <h3 class="products__card-title">Ice cream</h3>
          <p class="products__txt">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button type="button" class="products__btn" data-modal-open-product>
            <svg class="products__arrow" width="50px" height="15px">
              <use href="./images/icons.svg#icon-arrow-default"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products__cards products__box-yello">
        <div class="products__ice-name">
          <h3 class="products__card-title">Ice coffee</h3>
          <p class="products__txt">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>

          <button type="button" class="products__btn" data-modal-open-product>
            <svg class="products__arrow" width="40px" height="15px">
              <use href="./images/icons.svg#icon-arrow-default"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products__cards products__box-brown">
        <div class="products__ice-name">
          <h3 class="products__card-title">Milkshakes</h3>
          <p class="products__txt">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>

          <button type="button" class="products__btn" data-modal-open-franchise>
            <svg class="products__arrow" width="40px" height="15px">
              <use href="./images/icons.svg#icon-arrow-default"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
